doctype html
html(lang="en")
  head
    title= title
    each style in styles
      link(href=`${style}` rel="stylesheet")
  body(class="p-2")
    main#container
      h1(class="text-center") hi pug!
    each script in scripts
      script(defer src=`${script}`)
