<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{=it.title}}</title>
    {{~ it.styles :style }}
    <link href="{{= style}}" rel="stylesheet" type="text/css">
    {{~}}
  </head>
  <body>
    {{~ it.scripts :script }}
    <script async nomodule src="{{= script }}" type="text/javascript"></script>
    {{~}}
  </body>
</html>
