<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{#styles}}
    <link href="{{{.}}}" rel="stylesheet">
    {{/styles}}
  </head>
  <body>
    <div id="{{engine}}"></div>
    {{#scripts}}
    <script defer src="{{{.}}}"></script>
    {{/scripts}}
  </body>
</html>
