doctype html
html(lang="en")
  head
    title= title
    each style in styles
      link(href=`${style}` rel="stylesheet")
  body
    div(id=`${engine}`)
    each script in scripts
      script(defer src=`${script}`)
